{% extends 'basis.html.twig' %}
{% block title %}
    {{ 'all_teachers'|trans|capitalize }}
{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <style>
        .header_text {
            font-size: 40px;
            margin-bottom: 40px;
            font-family: 'Luckiest Guy', cursive;
            letter-spacing: 2px;
            margin-left: 10px;
        }
        .hd, .rw {
            height: 30px;
        }

        .main-hd, .main-rw {
            padding-top: 15px;
            padding-bottom: 25px;
        }

        .main-rw {
            border-top: 1px solid grey;
            background-color: #EEDEC1;
        }

        .main-rw:hover {
            background-color: white;
        }

        @media (max-width: 1000px) {

        }
    </style>
{% endblock %}
{% block basis %}
    {% block sidebar %}{% endblock %}
    <h1 class="header_text">{{ 'all_teachers'|trans|capitalize }}</h1>
    <div class="row">

        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-12 col-xs-12 main-hd w3-gray w3-center">
                <div class="col-sm-4 col-xs-4 hd">{{ 'name'|trans|capitalize }}</div>
                <div class="col-sm-4 col-xs-4 hd">{{ 'country'|trans|capitalize }}</div>
                <div class="col-sm-4 col-xs-4 hd">{{ 'language_level'|trans|capitalize }}</div>
            </div>
            {% for teacher in teachers %}
                <div class="col-sm-12 col-xs-12 main-rw w3-center">
                    <div class="col-sm-4 col-xs-4 rw">
                        <a href="{{ url('profile', {'id':teacher.userId}) }}" >
                        {{ teacher.name }}
                        </a>
                    </div>
                    <div class="col-sm-4 col-xs-4 rw w3-center">
                        <img width="50" style="border-radius: 100px;" src="{{ asset( teacher.languageIcon) }}"
                             data-toggle="tooltip" data-placement="right" title="{{ teacher.language }}" alt="">
                    </div>
                    <div class="col-sm-4 col-xs-4 rw w3-center">
                        {{ teacher.level|capitalize }}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
{% block javascripts %}

    <script>
        {% for flash_message in app.session.flashbag.get('notice') %}
        new Noty({
            type: 'success',
            layout: 'topRight',
            text: '{{ flash_message }}'
        }).show();
        {% endfor %}
    </script>
{% endblock %}